*{
    margin: 0;
    padding: 0;
}

.container{
    background: linear-gradient(rgb(65, 65, 185),rgb(227, 125, 142));
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: Verdana;
}

h1{
    color:#fff;
    position: absolute;
    top: 50%;
    left:50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    font-size: 70px;
    z-index: 1;
}

ul li{
    position: absolute;
    border: 2px solid #fff;
    width:30px;
    height: 30px;
    list-style: none;
    opacity: 0;
    background: #fff;
}

.square li{
    top:50vh;
    left: 45vw;
    animation:  square 10s linear infinite;
}


.square li:nth-child(2){
    top:80vh;
    left: 10vw;
    animation-delay: 3s;
}

.square li:nth-child(3){
    top:80vh;
    left: 85vw;
    animation-delay: 2s;
}

.square li:nth-child(4){
    top:10vh;
    left: 75vw;
    animation-delay: 4s;

}

.square li:nth-child(5){
    top:10vh;
    left: 10vw;
    animation-delay: 1s;
}

.square li:nth-child(6){
    top:50vh;
    left: 85vw;
    animation-delay: 5s;

}

@keyframes square
{
    0%{
        transform: scale(0) rotateX(0deg);
        opacity: 1;
    }

    100%{
        transform: scale(3) rotateX(1000deg);
        opacity: 0;
    }
}


.circle li{
    bottom:0;
    left: 15vw;
    animation:  circle 10s linear infinite;
}


.circle li:nth-child(2){
   
    left: 35vw;
    animation-delay: 3s;
}

.circle li:nth-child(3){
    
    left: 55vw;
    animation-delay: 2s;
}

.circle li:nth-child(4){
   
    left: 75vw;
    animation-delay: 4s;

}

.circle li:nth-child(5){
   
    left: 85vw;
    animation-delay: 1s;
}

.circle li:nth-child(6){
   
    left: 90vw;
    animation-delay: 5s;

}

@keyframes circle
{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }

    100%{
        transform: scale(3) rotate(1000deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 50%;
    }
}



.dot li{
    top:0;
    left: 15vw;
    animation:  dot 10s linear infinite;
}



.dot li:nth-child(3){
    
    top: 55vw;
    left:45vw;
    animation-delay: 2s;
}

.dot li:nth-child(4){
   
    bottom: 75vw;
    left: 55vw;
    animation-delay: 4s;

}

@keyframes dot
{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 100%;
       
    }

    100%{
        transform: scale(3) rotate(1000deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 100%;
        
    }
}