/* CSS REST */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */

:root {
  --common-pink-clr: #f71568;
  --pure-white: #fff;
  --purple: #9702f4;
  --yellow: #ffd036;
  --font-family-t: Tahoma;
  --font-family-v: Verdana;
  --common-transition: cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

/* BODY CSS */

body {
  font-family: var(--font-family-v);
  background-color: var(--purple);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

/* CONTAINER CSS */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.container .box {
  width: 0;
  height: 620px;
  background-color: var(--pure-white);
  position: absolute;
  animation: openBox 1s var(--common-transition);
}

@keyframes openBox {
  0% {
    width: 0;
    left: 15%;
  }
  100% {
    width: 900px;
    left: 15%;
  }
}

.container .box .product-img {
  position: absolute;
  left: -150px;
  top: 50px;
  opacity: 0;
  animation: fadeimg 1s ease-in-out forwards;
  animation-delay: 1;
}

@keyframes fadeimg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container .box .product-video {
  width: 320px;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.container .box .product-video .video {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  animation: upvideo 1s var(--common-transition);
  animation-delay: 1.2s;
}

@keyframes upvideo {
  0% {
    opacity: 0;
    bottom: -30px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.video i {
  background-color: var(--pure-white);
  border: var(--common-pink-clr) 2px solid;
  border-radius: 100%;
  color: var(--common-pink-clr);
  padding: 20px 22px;
  font-size: 20px;
  cursor: pointer;
  transition: ease-in-out 220ms;
}

.video i:hover {
  background-color: var(--common-pink-clr);
  color: var(--pure-white);
  box-shadow: 0 0 20px var(--common-pink-clr);
}

.product-video .video p {
  margin-left: 20px;
  text-transform: uppercase;
}

.container .box .product-disc {
  width: 0;
  height: 420px;
  position: absolute;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showDisc 1s var(--common-transition);
  top: 50px;
  left: 0;
}

@keyframes showDisc {
  0% {
    width: 0;
    left: 450px;
  }
  100% {
    width: 500px;
    left: 450px;
  }
}

.container .box .product-disc .product-disc-content {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadecontent 1s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes fadecontent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-disc .product-disc-content .disc-content-about h1 {
  font-size: 32px;
}

.product-disc .product-disc-content .disc-content-about span {
  font-family: var(--font-family-t);
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.5;
}

.product-disc .product-disc-content .disc-content-about p {
  margin-top: 35px;
  font-size: 14px;
}

.product-view-more {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.product-view-more .view-more-block {
  width: 10px;
  height: 15px;

  background-color: var(--pure-white);
  z-index: 1;
  position: absolute;
  transition: cubic-bezier(0.68, -0.5, 0.27, 1.55) 320ms;
}
.product-view-more:hover .view-more-block {
  width: 220px;
  height: 35px;
}

.product-view-more p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  margin-left: 15px;
}

.product-buttons{
    position: absolute;
    bottom:50px;
    right:-50px;
    width: 500px;
    height: 100px;
}

.product-buttons .btn{
width: 240px;
height: 70%;
font-weight: bold;
font-size: 16px;
transition: ease-in-out 220ms ;
cursor: pointer;
text-transform: uppercase;
font-family: inherit;
}

.product-buttons .wishlist{
    color: var(--common-pink-clr);
    outline: 0;
    border: var(--common-pink-clr) solid 2px;
    background:transparent;
    position: absolute;
    opacity: 0;
    animation: fadebtn 1s var(--common-transition);
    animation-delay: 1s;
}

@keyframes fadebtn{
    0%{
        opacity: 0;
        bottom:-25px;
    }
    100%{
        opacity: 1;
        bottom:0;
    }
}

.product-buttons .wishlist:hover{
    background-color: var(--common-pink-clr);
    color:var(--pure-white);
    box-shadow: 0 0 26px var(--common-pink-clr);
}

.product-buttons .buy{
    background-color: var(--common-pink-clr);
    outline: 0;
    border: var(--common-pink-clr) solid 2px;
    color: var(--pure-white);
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    animation: fadebtn 1s var(--common-transition);
    animation-delay: 1s;
}



.product-buttons .btn:hover{
    background-color: var(--pure-white);
    color:var(--common-pink-clr);
    border: 2px solid var(--common-pink-clr);
    box-shadow: 0 0 26px var(--common-pink-clr);

}